body{
	background-color: #feffef
}
h1{
	text-align: center;
	font-family: Century;
	font-size: 75px;
	color:#555555;
}
.h1{
	padding:30px;
}
.h1{
	background-color: #ccffcc;
	background-size: 10px;
}
p{
	color:#555555;
	width:55%;
}
.static {
	position: fixed;
	padding: 20px;
	margin:0 0 0 800px;
	width: 400px;
	background-color: #ccffcc;
	color:#555555;
}
a{
	text-decoration: none;
	color:#555555;
}


h2{
	color:#555555;
}
h3{
	color:#555555;
}
ul{
	color:#555555;
	width:55%;
}
.text1 {
	margin: 0px 300px 0px 0px;
}
#one{
	margin:0 300px 0 0;
}
.container{
	color:#555555;
}
.parts{
	margin:0 0 0 40px;
}